img {
    max-width: 100%;
}

.ac__link {
    text-decoration: none;
    color: currentColor;
}

li,ul,ol {
    list-style-type: none;
}

/* HEADER */

header {
    color: white;
    background-color: #2C3E50;
}

header .col-5{
    padding: 25px 10px;
    font-size: 1.3rem;
}

.menu-sm{
    text-align: right;
}

.menu-md{
    text-align: center;
    display: none;
}

.menu-sm a{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 15px;
}

/* Section Avatar */

.avatar {
    background-color: #1ABC9C;
    color: white;
    padding: 4rem 0;
}

.avatar .row{
    justify-content: center;
    text-align: center;
    row-gap: 15px;
}

.title__avatar{
    font-size: 2.4rem;
}

.icon__avatar{
    font-size: 2rem;
}

.avatar__thumb{
    width: 200px;
}

.skills__avatar{
    font-size: 1.2rem;
}

/* Section PORTFOLIO */

.portfolio{
    padding: 2rem 0;
}

.row__portfolio{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thumb__portfolio{
    flex-direction: column;
    align-items: center;
}

.thumb__portfolio img{
    width: 550px;
    border-radius: 10px;
}

.portfolio .row{
    row-gap: 20px;
}

/* Section Download */

.about{
    background-color: #1ABC9C;
    color: white;
    padding: 4rem 0;
}

.row__column{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.button{
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
}

.button i{
    margin-right: 5px;
}

/* Section Contact */

.contact{
    padding: 4rem;
}

.row__form{
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.input__form{
    border-style: none;
    border-bottom: 2px solid #D8D8D8;
    padding-bottom: 1rem;
}

.textarea_input__form{
    border-style: none;
    border-bottom: 2px solid #D8D8D8;
    padding-bottom: 6rem;
}

.submit__form{
    background-color: #1ABC9C;
    color: white;
    border-style: none;
    border-radius: 10px;
    border-radius: 6px;
    padding: 0.5rem 1rem;
}

/* Section Footer */

.footer{
    background-color: #3A546D;
    padding: 2rem;
    color: white;
}

.copyright{
    background-color: #2C3E50;
    padding: 2rem;
    color: white;
}

.ac__link__footer{
    text-decoration: none;
    color: #1ABC9C;
}

.icon__social{
    border: 2px solid white;
    border-radius: 50%;
    padding: 0.6rem;
}

@media (min-width: 576px) {


}

@media (min-width: 768px) {
    .menu-sm{
        display: none;
    }

    .menu-md{
        align-items: center;
        display: flex;
    }

    .title__avatar{
        font-size: 3rem;
    }
    
    .icon__avatar{
        font-size: 2rem;
    }
    
    .avatar__thumb{
        width: 200px;
    }
    
    .skills__avatar{
        font-size: 1.5rem;
    }

    .thumb__portfolio .row{
        justify-content: center;
    }

    .row__column{
        flex-direction: row;
        justify-content: center;
    }

    .row__form{
        flex-direction: column;
        justify-content: center;

    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}