img {
    max-width: 100%;
}

.ac__link {
    text-decoration: none;
    color: currentColor;
}

li,ul,ol {
    list-style-type: none;
}

/* HEADER */

header {
    color: white;
    background-color: #2C3E50;
}

header .col-5{
    padding: 25px 10px;
    font-size: 1.3rem;
}

.menu-sm{
    text-align: right;
}

.menu-md{
    text-align: center;
    display: none;
}

.menu-sm a{
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 15px;
}

/* Section Avatar */

.avatar {
    background-color: #1ABC9C;
    color: white;
    padding: 4rem 0;
}

.avatar .row{
    justify-content: center;
    text-align: center;
    row-gap: 15px;
}

.title__avatar{
    font-size: 2.5rem;
}

.icon__avatar{
    font-size: 2rem;
}

.avatar__thumb{
    width: 200px;
}

.skills__avatar{
    font-size: 1.2rem;
}

/* Section PORTFOLIO */

.portfolio{
    padding: 2rem 0;
}

.title__portfolio{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thumb__portfolio{
    flex-direction: column;
    align-items: center;
}

.thumb__portfolio img{
    width: 550px;
    border-radius: 10px;
}

.portfolio .row{
    row-gap: 20px;
}

@media (min-width: 576px) {


}

@media (min-width: 768px) {
    .menu-sm{
        display: none;
    }

    .menu-md{
        align-items: center;
        display: flex;
    }

    .title__avatar{
        font-size: 3rem;
    }
    
    .icon__avatar{
        font-size: 2rem;
    }
    
    .avatar__thumb{
        width: 200px;
    }
    
    .skills__avatar{
        font-size: 1.5rem;
    }

    .thumb__portfolio .row{
        justify-content: center;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}